body {
    padding: 10px;
}

.menu {
    font-size: 18pt;
    list-style: none;
    display: flex;
    height: 50px;
    background-color: rgb(201, 201, 201);
}

.menu .menu-item {
    padding: 10px;
    margin-right: 10px;
}

.menu .menu-item a {
    color: #000;
    text-transform: uppercase;
}

.container {
    margin: 10px;
}

.container p {
    font-weight: bold;
    font-size: 22pt;
    color: rgb(3, 106, 34);
}